<!doctype html>
<html lang="en" ng-app>
	<head>
		<!-- Include meta tag to ensure proper rendering and touch zooming -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex, nofollow">

		<!-- Include jQuery Mobile stylesheets -->
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
		<!-- <link rel="stylesheet" href="../../docs/_assets/css/jqm-docs.css" /> -->
		<link rel="stylesheet"  href="jquery.ui.datepicker.mobile.css" />

		<!-- Include the jQuery library -->
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script>
			//reset type=date inputs to text
			$( document ).bind( "mobileinit", function(){
				$.mobile.page.prototype.options.degradeInputs.date = true;
			});
		</script>

		<!-- Include the jQuery Mobile library -->
		<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
		<script src="jQuery.ui.datepicker.js"></script>
		<script src="jquery.ui.datepicker.mobile.js"></script>

		<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"> </script> -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>

		<!-- <script src="//www.parsecdn.com/js/parse-1.6.0.min.js"></script> -->
		<script src="parse-1.6.0.min.js"></script>

		<script>
			// Code here
			Parse.initialize("WyHgAZluBt0AWwdVU2xrIaZlwmRpN2bUDa5Ca1bo","vTfkeyv3NIu61QvEVLfMKJ9Kw90PqvBgBjiwUEwA");

			var currentUser = Parse.User.current();

			function AngularController($scope){
				$scope.loginsend = function loginsend() {
					console.log('sent login', $scope.loginusername, $scope.loginpassword)
					if (currentUser) {
						Parse.User.logOut();
					}
					Parse.User.logIn($scope.loginusername, $scope.loginpassword, {
						success: function(user) {
							// Do stuff after successful login.
							console.log("success login ", user.get('username'));
							var scope = angular.element($("#outer")).scope();
							scope.$apply(function(){
								scope.welcome_message = 'Hi, ' + user.get('username') + ' welcome back'
							})
						},
						error: function(user, error) {
							// The login failed. Check error to see why.
							console.log("failed login!!!");
							alert("failed login!!!");
							var scope = angular.element($("#outer")).scope();
							scope.$apply(function(){
								scope.welcome_message = 'Sorry wrong password or username or just error :) logged out'
							})
						}
					});
				}
				$scope.registersend = function registersend() {
					console.log('sent register', $scope.registerusername, $scope.registerpassword)
					var user = new Parse.User();
					if ( typeof $scope.registerusername === 'undefined' || typeof $scope.registerpassword === 'undefined' ){

						$scope.welcome_message = 'registering need appropriate username&/password'
						return
					}
					if ( $scope.registerusername == '' || $scope.registerpassword == '' ){

						$scope.welcome_message = 'registering need appropriate username&/password'
						return
					}
					user.set("username", $scope.registerusername);
					user.set("password", $scope.registerpassword);
					if (currentUser) {
						Parse.User.logOut()
					}

					user.signUp(null, {
						success: function(user) {
							// Hooray! Let them use the app now.
							console.log(user, ' is registered as user');
							var scope = angular.element($("#outer")).scope();
							scope.$apply(function(){
								scope.welcome_message = 'Congratz now '+user.get('username')+' have registered'
							})
						},
						error: function(user, error) {
							// Show the error message somewhere and let the user try again.
							alert("Error: " + error.code + " " + error.message);
							var scope = angular.element($("#outer")).scope();
							scope.$apply(function(){
								scope.welcome_message = 'error registering. logged out'
							})
						}
					});
				}

				angular.element(document).ready(function () {
					if (currentUser) {
						console.log("alrd logged in ", currentUser.get('username'));
						_msg = 'Hi, ' + currentUser.get('username') + ' , welcome back!'
					}
					else
					{
						_msg = 'Hi, please login or register'
					}
					var scope = angular.element($("#outer")).scope();
					scope.$apply(function(){
						scope.welcome_message = _msg;
					})
				});
			}


			// Code ends here
		</script>

		<title>Tutorial Login & Registration</title>

	</head>
	<body>
		<div id="outer" ng-controller="AngularController">
			<div data-role="page">
				<div data-role="main" class="ui-content">
					<form name="loginform" id="loginform" ng-submit="loginsend()">
						<label for="loginusername">Username (login)</label>
						<input type="text" name="loginusername" id="loginusername" ng-model="loginusername">
						<label for="loginpassword">Password (login)</label>
						<input type="password" name="loginpassword" id="loginpassword" ng-model="loginpassword">
						<input id="loginButton" type="submit" value="Login">
					</form>
				</div>
				<div data-role="main" class="ui-content">
					<form name="registerform" id="registerform" ng-submit="registersend()">
						<label for="registerusername">Username (register)</label>
						<input type="text" name="registerusername" id="registerusername" ng-model="registerusername">
						<label for="registerpassword">Password (register)</label>
						<input type="password" name="registerpassword" id="registerpassword" ng-model="registerpassword">
						<input id="registerButton" type="submit" value="Register">
					</form>
				</div>
				<div data-role="footer">
					<tt>{{welcome_message}}</tt><br/>
				</div>
			</div>
		</div>
	</body>
</html>
